@import url("https://fonts.googleapis.com/css?family=Raleway");
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

body {
  font-family: 'Raleway', arial;
  background-color: #F4F4F4; }

header {
  background: red; }

.wrapper {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto; }

#input {
  border: 0;
  width: 300px;
  height: 10px;
  padding: 20px;
  line-height: 50px;
  background-color: #DCDCDC;
  font-size: 1.4em;
  font-family: inherit;
  outline: 2px solid #1985A1; }
  #input:focus {
    outline-offset: 0; }

#timewp {
  text-align: right; }
